
<div class="change-password">
    <div class="profile-setting-avatar">
        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150" fill="none">
        <circle cx="75" cy="75" r="74.5" fill="white" stroke="#5603AD"/>
        </svg>
    </div>
    <div class="change-password-name">{{display_name}}</div>
    <div class="change-password-data">
        <div class="change-password-data-header">{{oldPassword}}</div>
        <input class="change-password-data-profile" placeholder="введите старый пароль">
    </div>
    <div class="change-password-data">
        <div class="change-password-data-header">{{newPassword}}</div>
        <input class="change-password-data-profile" placeholder="введите новый пароль">
    </div>
    <div class="change-password-data">
        <div class="change-password-data-header">{{newPasswordRepeat}}</div>
        <input class="change-password-data-profile" placeholder="введите новый пароль">
    </div>
    <button class="profile-setting-btn" data-destination="/chat">{{save}}</button>
</div>
