
<div class="change-password">
    <div class="profile-setting-avatar">
        <img class="profile-settings-avatar-ico" src="../../styles/icons/Avatar.png">
    </div>
    <div class="change-password-name">{{display_name}}</div>
    <div class="change-password-data">
        <div class="change-password-data-header">{{oldPassword}}</div>
        <input class="change-password-data-profile" placeholder="введите старый пароль">
    </div>
    <div class="change-password-data">
        <div class="change-password-data-header">{{newPassword}}</div>
        <input class="change-password-data-profile" placeholder="введите новый пароль">
    </div>
    <div class="change-password-data">
        <div class="change-password-data-header">{{newPasswordRepeat}}</div>
        <input class="change-password-data-profile" placeholder="введите новый пароль">
    </div>
    <button class="profile-setting-btn" data-destination="/chat">{{save}}</button>
</div>
