<div class="chat-main-form">
    <div class="left-chat-part">
        <div>
            <button class="chat-pfofile-btn">
                {{ profile }}
                <img src="/middle.messenger.praktikum.yandex/src/styles/icons/arrow-back.svg">
            </button>
        </div>
        <div>
            <input class="chat-search-input" placeholder="поиск">
        </div>
        <div class="chat-contact-form">
            <div class="chat-avatar"></div>
            <div class="chat-contact-block">
                <div class="contact-profile-name">
                    {{displayName}}
                    <div class="contact-message-date">
                        {{messageDate}}
                    </div>
                </div>
                <div class="chat-contact-message">
                    <div class="message-from">{{displayNameAlt}}:</div>
                    <div class="message-text">{{chatMessagePic}}</div>
                    <div class="message-counter">{{messageCounter}}</div>
                </div>
            </div> 
        </div>
        <div class="chat-contact-form">
            <div class="chat-avatar"></div>
            <div class="chat-contact-block">
                <div class="contact-profile-name">
                    {{displayNameAlt}}
                    <div class="contact-message-date">
                        {{messageTime}}
                    </div>
                </div>
                <div class="chat-contact-message">
                    <div class="message-from">{{displayName}}:</div>
                    <div class="message-text">{{chatMessageLarge}}</div>
                    <div class="message-counter-alt"></div>
                </div>
            </div> 
        </div>
    </div>
    <div class="right-chat-part">
        <div class="contact-message-display-name">{{displayName}}</div>
        <div class="chat-add-contact-menu">CLick</div>
    </div>
</div>


