
<div class="profile-settings">
    <div class="profile-setting-avatar">
       <img class="profile-settings-avatar-ico" src="{{avatarIco}}">
    </div>
    <div class="profile-settings-name">{{display_name}}</div>
    <div class="profile-settings-data">
        <div class="profile-settings-data-header">{{userEmail}}</div>
        <div class="profile-settings-data-profile">{{email}}</div>
    </div>
    <div class="profile-settings-data">
        <div class="profile-settings-data-header">{{login}}</div>
        <div class="profile-settings-data-profile">{{myLogin}}</div>
    </div>
    <div class="profile-settings-data">
        <div class="profile-settings-data-header">{{firstName}}</div>
        <div class="profile-settings-data-profile">{{first_name}}</div>
    </div>
    <div class="profile-settings-data">
        <div class="profile-settings-data-header">{{secondName}}</div>
        <div class="profile-settings-data-profile">{{second_name}}</div>
    </div>
    <div class="profile-settings-data">
        <div class="profile-settings-data-header">{{displayName}}</div>
        <div class="profile-settings-data-profile">{{display_name}}</div>
    </div>
    <div class="profile-settings-data">
        <div class="profile-settings-data-header">{{phoneNumber}}</div>
        <div class="profile-settings-data-profile">{{phone}}</div>
    </div>
    <button class="profile-setting-btn" data-destination="/changePassword">Изменить пароль</button>
    <button class="profile-setting-btn" data-destination="/chat">{{saveProfile}}</button>
</div>
