<div class="main-list">
    <h1 class="main-list__header">{{header}}</h1>
        <a class="main-list__element" href="./pages/login/login.hbs">{{elOne}}</a>
        <a class="main-list__element" href="./pages/login/login.hbs">{{elTwo}}</a>
        <a class="main-list__element" href="./pages/login/login.hbs">{{elThree}}</a>
        <a class="main-list__element" href="./pages/login/login.hbs">{{elFour}}</a>
        <a class="main-list__element" href="./pages/login/login.hbs">{{page404}}</a>
        <script src="./pages/login/login.js">test</script>
</div>
 <button id="redirectButton">Click Me!</button>
  <script>
    function redirectToNewPage() {
      window.location.href = 'newpage.html';
    }

    // Attach click event to the button
    document.getElementById('redirectButton').addEventListener('click', redirectToNewPage);
  </script>